.main-editor-wrapper {
	max-height: 25%;
	// min-height: 20rem;
	position: absolute;
	top: auto;
	bottom: 2rem;
	left: 2rem;
	right: 2rem;

	overflow: hidden;
	border: solid .3rem #444;
	border-radius: 1rem;

	//border: solid .1rem #000;
	background-color: #785;
	margin: 0rem;

	display: flex;
	flex-direction: column;

	* {
		font-size: .6rem;
	}

	.title {
		//border: solid .5rem #a00;
		flex: 1 1 auto;
		background-color: #444;
		font-size: 1rem;
	}

	.form-grid {
		max-height: 100%;
		min-height: 0;
		//border: solid .5rem #f00;
		flex: 1 1 auto;
		display: flex;
		flex-flow: column wrap;
		align-content: flex-start;
		width: 100%;
		padding-right: .1rem;
		overflow: hidden;
		overflow-x: auto;

		.input-group {
			// padding: .1rem;
			display: flex;
			flex-direction: row;
			flex: 0 0 auto;
			margin-left: .1rem;
			margin-top: .1rem;
			align-content: flex-start;

			textarea,
			input {
				background: #fff4;
				border: solid #555 .05rem;
				resize: none;
				width: 5rem;
			}

			align-items: center;
			text-align:right;

			div:nth-child(1) {
				// min-width: 8rem;
				flex: 1 0 auto;
				//margin: .1rem;
				margin-left: 0;
				margin-top: 0;
				// align-self: center;
			}

			div:nth-child(2) {
				// min-width: 8rem;
				flex: 0 1 auto;
				//margin: .1rem;
				margin-left: 0;
				margin-top: 0;

				&>textarea {
					height: 4rem;
				}
			}
		}
	}




	.form-controls-trip {
		flex: 0 0 1.4rem;
		background-color: #3335;
		border-radius: 1.4rem;

		&>button {
			margin: .2rem;
			width: 8rem;
			height: 1rem;
			background-color: #444;
			border-radius: 1rem;
		}
	}

	transition: height 1s;


	&--open {
		// height: 10rem;
	}

	&--close {
		// max-height: 0;
	}
}