.main-editor-wrapper {
	height: max(20rem, 33%);
	position: absolute;
	top: auto;
	left: 4%;
	right: 4%;
	bottom: 4%;

	overflow: hidden;
	border: solid .3rem #243;
	border-radius: 1rem;

	background-color: #354b;
	margin: 0;

	display: flex;
	flex-direction: column;

	.title {
		flex: 1 1 auto;
		background-color: #0105;
		font-size: 1rem;
	}

	.form-container {
		position: relative;
		flex: 0 1 auto;
		overflow: hidden;
		width: 100%;

		.form-grid {
			height: 100%;
			width: 100%;
			display: flex;
			flex-flow: column wrap;
			align-content: flex-start;
			justify-items: flex-start;
			justify-self: flex-start;
			text-align: left;
			overflow: hidden;
			overflow-x: auto;
			padding-bottom: min(.1rem, 1%);

			button {
				background-color: #535;
			}

			.input-group {
				display: flex;
				flex-flow: column nowrap;
				flex: 0 1 auto;
				margin-left: min(.3rem, .5%);
				margin-top: min(.3rem, .5%);
				align-content: flex-start;
				border: none;
				background-color: #222;
				border-radius: .2rem;
				font-size: .9rem;
				box-shadow: .1rem .1rem .1rem #0006;
				width: max(20%, 10rem);

				div.left-label {
					flex: 0 1 auto;
					margin: min(.1rem, 1%);
					margin-bottom: 0;
					padding: min(.1rem, 1%);
					padding-bottom: 0;
					color: #aaa;
					border-radius: .15rem .15rem 0 0;

					background-color: #023;
					white-space: nowrap;
				}

				div.editable {
					flex: 1 0 auto;
					margin: min(.1rem, 1%);
					margin-top: 0;
					border-radius: 0 0 .15rem .15rem;
					background-color: #243;

					textarea,
					input {
						min-width: 0;
						height: 100%;
						width: 100%;
						border: solid #0000 .1rem;
						background: none;
						color: #aaa;

						&:focus {
							outline: none;
							background-color: #aaa;
							color: #000;
						}
					}


					textarea {
						min-height: 4rem;
						max-height: 12rem;
						min-width: 100%;
						max-width: 34rem;
						margin-right: .2rem;
					}

					input {
						border: none;
					}
				}
			}

			.input-group-no-width {
				width: unset;
			}
		}

	}

	.form-controls-trip {
		flex: 0 0 1.4rem;
		background-color: #0105;
		border-radius: 0 0 .7rem .7rem;

		&>button {
			font-size: 1rem;
			margin: .2rem;
			width: 8rem;
			height: 1.5rem;
			background-color: #122;
			border-radius: 0 0 .5rem .5rem;
		}
	}

	transition: height 1s;


	&--open {
		visibility: visible;
	}

	&--close {
		visibility: hidden;
	}

	button {
		font-size: 1rem;
		height: 1.5rem;
		background-color: #333;
	}
}