.main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;

	.main-title {
		flex: 0 0 2rem;
		text-align: center;
		justify-content: center;
		font-size: 1rem;
		letter-spacing: 1.5rem;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		background-color: red;
	}

	.main-content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		padding: 0;
		margin: 0;
		
		.main-top-menu{
			flex: 0 0 1.5rem;
			position: relative;
			overflow: hidden;
			//border: solid .5rem #090;
		}
		
		.main-board {
			flex: 1 1 auto;
			position: relative;
			overflow: hidden;
			padding: 0;
			margin: 0;
			overflow: hidden;
			//border: solid .5rem #0cf;
		}
		
		.main-editor {
			flex: 1 0 auto;
			max-height: 15rem;
			////border: solid .0rem #0f0;
			position: relative;
			overflow: hidden;
			background-color: #888;
			margin: 0;
			padding: 0;
			overflow: auto;

			display: flex;
			flex-direction: column;
		}
	}
}