.node-toolstrip {

	text.button {
		stroke: #000;
		stroke-width: .2rem;
		fill: #000;
	}

	rect.button {


		rx: .8rem;
		ry: .8rem;
		stroke-width: .3rem;
		font-family: inherit;
		font-size: 500;
		cursor: pointer;
		fill: #f0f;
		stroke: #bbb;

		&:hover {
			stroke: #fa0;
		}

		&:focus,

		&:focus-visible {
			stroke-width: 1.2px;
		}

		@keyframes rotate {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(360deg);
			}
		}


		&.new {
			fill: #080;
		}

		&.mod {
			fill: #aa6;
		}

		&.del {
			fill: #c20;
		}

		&.edit-style {
			fill: #02c;
		}


		&.new-node {
			fill: #888;
			stroke: #fff;
		}

	}

}