g.actions-strip-button {

	transform-origin: 2.5rem 2.5rem;

	image.actionstrip-button-image {
		opacity: .3;
		transition: all .2s;
	}

	text.actionstrip-button-tag {
		pointer-events: none;
		transition: all .2s;
		font-size: 2rem;
		opacity: 0;
		transform: translate(.5rem, -5rem) rotate(90deg);
	}

	&:hover {
		text.actionstrip-button-tag {
			opacity: 1;
		}

		image.actionstrip-button-image {
			opacity: 1;
		}
	}

	@keyframes actionstrip-button-enter {
		from {
			transform: scale(0, 0);
		}

		to {
			transform: scale(1, 1);
		}
	}

}